@import 'tailwindcss';
@source inline('bg-red-200');
@source inline('bg-orange-200');
@source inline('bg-yellow-200');
@source inline('bg-lime-200');
@source inline('bg-green-200');
@source inline('bg-sky-200');
@source inline('bg-purple-200');
@source inline('bg-red-300');
@source inline('bg-orange-300');
@source inline('bg-yellow-300');
@source inline('bg-green-300');
@source inline('bg-sky-300');
@source inline('bg-purple-300');
@source inline('leading-12');

@custom-variant hover (&:hover);

@theme {
	--font-noto-serif: 'Noto Serif', serif;
	--font-dm-serif-display: 'DM Serif Display', serif;
	--font-dm-serif-text: 'DM Serif Text', serif;
	--shadow-sharp: 6px 6px 0px 0px var(--color-slate-900);
	--shadow-sharp-hover: 8px 8px 0px 0px var(--color-slate-900);
	--shadow-sharp-chonk: 30px 30px 0px 0px var(--color-slate-900);
	--shadow-sharp-chonk-hover: 40px 40px 0px 0px var(--color-slate-900);
	--breakpoint-2xl: 106rem;
}

@layer base {
	h1 {
		font-size: var(--text-4xl);
		font-family: var(--font-dm-serif-display);
		font-style: italic;
	}
	h2 {
		font-size: var(--text-3xl);
		font-family: var(--font-dm-serif-display);
		font-style: italic;
	}
	h3 {
		font-family: var(--font-dm-serif-display);
		font-style: italic;
	}

	p {
		font-family: var(--font-noto-serif);
	}
	ul {
		font-family: var(--font-noto-serif);
		list-style-position: outside;
		list-style-type: disc;
		font-size: var(--font-xl);
	}
	ol {
		font-family: var(--font-noto-serif);
		list-style-position: outside;
		list-style-type: decimal;
		font-size: var(--font-xl);
	}
}

@layer utilities {
	.h-screen-dvh {
		height: 100dvh;
	}

	@supports not (height: 100dvh) {
		.h-screen-dvh {
			height: 100vh;
		}
	}

	.min-h-screen-dvh {
		min-height: 100dvh;
	}

	@supports not (min-height: 100dvh) {
		.min-h-screen-dvh {
			min-height: 100vh;
		}
	}
}

input {
	outline: none;
}
